/* Variables */
:root {
--tea-green: #ccd5aeff;
--beige: #e9edc9ff;
--cornsilk: #fefae0ff;
--papaya-whip: #faedcdff;
--buff: #d4a373ff;
--gradient-radial: radial-gradient(#ccd5aeff, #e9edc9ff, #fefae0ff, #faedcdff, #d4a373ff);

--tea-green-dark: #4f5b3f;
--beige-dark: #4a4e44;
--cornsilk-dark: #333a23;
--papaya-whip-dark: #5f5b44;
--buff-dark: #8a6741;
--gradient-radial-dark: radial-gradient(#4f5b3f, #4a4e44, #333a23, #5f5b44, #8a6741);
}

/* Global */
* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;
    align-items: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: var(--gradient-radial);
}

body.dark {
    background-image: var(--gradient-radial-dark);
}

/* Game */
h1 {
    text-align: center;
    width: fit-content;
    font-size: 3rem;
    background-color: var(--tea-green);
    color: var(--cornsilk);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    padding: 10px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    margin-bottom: 0;
}
h1.dark {
    background-color: var(--tea-green-dark);
    color: var(--cornsilk-dark);
}

#game-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: fit-content;
    padding: 10px;
    border: 10px solid var(--tea-green);
    border-radius: 8px;
    background-color: var(--buff);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}
#game-container.dark {
    border-color: var(--tea-green-dark);
    background-color: var(--beige-dark);
}
    /* Containers */
    #dice-container, 
    #playfield-container,
    #scorecard-container,
    #controls-container {
        display: flex;
        flex-direction: column;
        background: var(--cornsilk);
        padding: 20px;
        margin: 5px;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
        align-items: center;
        height: auto;
    }
    #dice-container.dark,
    #playfield-container.dark,
    #scorecard-container.dark,
    #controls-container.dark {
        background: var(--papaya-whip-dark);
    }
    /* Playfield specific */
        .die {
            display: inline-block;
            width: 50px;
            height: 50px;
            border: 3px solid black;
            margin: 0 5px;
            text-align: center;
            line-height: 50px;
            font-size: 24px;
            border-radius: 5px;
            background-color: var(--papaya-whip);
        }
        .die.dark {
            background-color: var(--cornsilk-dark);
        }
        .held {
            background-color: firebrick;
            color: var(--papaya-whip)
        }
        .held.dark {
            color: var(--cornsilk-dark);
        }
        #controls-container {
            height: 100%;
            width: 100%;
            padding: 0;
        }

    .scorecard-columns {
            width: 30rem;
            display: flex;
            margin-bottom: 0;
        }
            table {
                width: fit-content;
                border-collapse: collapse;
            }
            th, td {
                padding: 5px;
            }
            tr:nth-child(even) {
                background-color: var(--papaya-whip);
            }
            tr:nth-child(even).dark {
                background-color: var(--cornsilk-dark);
            }
            .score-name:hover {
                background-color: var(--tea-green);
                cursor: pointer;
            }
            .score-name.dark:hover {
                background-color: var(--tea-green-dark);
            }
            #total-score-container {
                margin-top: 10px;
                border-top: 2px solid black;
                width: 50%;
            }
            .scorecard-columns, #total-score-container {
                display: flex;
                width: 100%;
                align-items: center;
                justify-content: center;
            }
            .score-value, .bonus-value, .total-value {
                font-weight: 600;
                font-size: 1.25rem;
                width: 30px;
                text-align: right;
                padding-right: 10px;
                border-right: 1px solid black;
                border-left: 1px solid black;
            }
            .bonus-name, .total-name, .bonus-value, .total-value {
                background-color: var(--buff);
                font-weight: 600;
            }
            .bonus-name.dark, .total-name.dark, .bonus-value.dark, .total-value.dark {
                background-color: var(--buff-dark);
            }
            .score-name, .bonus-name, .total-name {
                width: 10em;
            }
        
            .possiblePoints {
                color:firebrick;
                font-size: .7rem;
                text-align: center;
                font-weight: 800;
            }

@media (hover: hover) {
    .die-with-value:hover {
        cursor: pointer;
        background-color: firebrick;
    }   
}

@media  (max-width: 480px) {
    body {
        padding: 0;
        width: 100vw;
        height: 100dvh;
    }   
    h1 {
        display: none;
    }
    #game-container {
        flex-direction: column;
        width: 100vw;
        margin: 0;
        border: none;
        padding: 0;
        justify-content: flex-start;
        height: 100dvh;
    }
    #dice-container, #scorecard-container, #playfield-container, #controls-container {
        margin: 0;
        padding: 0;
        margin: 0;
        border: none;
        box-shadow: none;
        border-radius: 0;
        width: 100vw;
        
    }
    #scorecard-container {
        height: 100%;
    }
    .scorecard-columns {
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .die {
        margin: 4px;
    }
    td {
        padding: 1px 0;
    }
    #scorecard-container>h2 {
        display: none;
    }
}

@media (max-width: 344px) {
    .die {
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 20px;
    }
}

.scored {
    color: firebrick;
}
.scored:hover {
    background-color: var(--cornsilk);
    cursor: not-allowed;
}
.scored:nth-child(even):hover {
    background-color: var(--papaya-whip);
}

button {
    background-color: var(--tea-green);
    color: var(--cornsilk);
    border: none;
    padding: 2px 40px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 800;
    font-size: 1.5rem;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    border-style: outset;
}

button:hover {
    background-color: var(--papaya-whip);
    color: var(--tea-green);
    border-style: inset;
}
button:hover.dark {
    background-color: var(--papaya-whip-dark);
    color: var(--tea-green-dark);
}

#modal-buttons {    
    margin-top: auto;
}

.modal-open-button {
    font-size: 1rem;
    padding: 2px 4px;
    background-color: var(--buff);
}
.modal-open-button.dark {
    background-color: var(--buff-dark);
}

.hidden {
    display: none;
}

.modal {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}
.modal-content {
    background-color: var(--cornsilk);
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 8px;
    width: 80%;
    max-width: 600px;
}
.modal-content.dark {
    background-color: var(--cornsilk-dark);
}
.close-button {
    color: var(--tea-green);
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close-button.dark {
    color: var(--tea-green-dark);
}
.close-button:hover, .close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.show {
    display: block;
}

.toggle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  font-size: .8rem;
  font-weight: 600;
  color: #333;
  margin: 0.5em 0;
  padding: 5px;
}
.toggle {
  position: relative;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  background-color: var(--beige);
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.toggle.dark {
  background-color: var(--beige-dark);
}
.toggle::before {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--buff);
  transition: transform 0.3s ease;
}
.toggle::before.dark {
  background-color: var(--buff-dark);
}
.toggle.active {
  background-color: var(--tea-green);
}
.toggle.active.dark {
  background-color: var(--tea-green-dark);
}
.toggle.active::before {
  transform: translateX(24px);
}
.toggle-label {
  margin-left: 10px;
  user-select: none;
}

.collapsible-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    border: 1px solid var(--cornsilk);
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 8px;
}
.collapsible-content.dark {
    border: 1px solid var(--cornsilk-dark);
}
  .collapsible-content.active {
    border: 1px solid var(--tea-green);
    max-height: 200px; /* Adjust this value as needed for smoother animation */
  }
  .collapsible-content.active.dark {
      border: 1px solid var(--tea-green-dark);
  }
  h3 {
    margin: .25rem;
    cursor: pointer;
    color: black;
    transition: text-shadow 0.3s ease-in-out;
  }
  h3:hover {
    text-shadow: 
      0 0 5px var(--buff),
      0 0 10px var(--buff),
      0 0 15px var(--tea-green),
      0 0 20px var(--tea-green),
      0 0 30px var(--tea-green),
      0 0 40px var(--tea-green);
  }
  h3:hover.dark {
    text-shadow: 
      0 0 5px var(--buff-dark),
      0 0 10px var(--buff-dark),
      0 0 15px var(--tea-green-dark),
      0 0 20px var(--tea-green-dark),
      0 0 30px var(--tea-green-dark),
      0 0 40px var(--tea-green-dark);
  }
.arrow {
    display: inline-block;
    transition: transform 0.3s ease;
    font-weight: bold;
    color: var(--buff)
  }
    .arrow.dark {
        color: var(--buff-dark);
    }
  .collapsible-section.expanded .arrow {
    transform: rotate(90deg);
  }

  .option {
    display: flex;
    border: 1px solid var(--buff);
    border-radius: 8px;
    width: fill-available;
    padding: 0;
    margin: 0;
  }
    .option.dark {
        border: 1px solid var(--buff-dark);
    }
  .option>.toggle-container {
    width: fit-content;
  }
  .option>p {
    border-left: 1px solid var(--buff);
    height: fill-available;
    margin: 0;
    align-content: center;
  }
    .option>p.dark {
        border-left: 1px solid var(--buff-dark);
    }

.instruction {
    margin-top: 10px;
    border-top: 1px solid var(--buff);
    width: 100%;
}
.instruction.dark {
    border-top: 1px solid var(--buff-dark);
}


.points-needed {
    font-size: .7rem;
    color: firebrick;
}