* {
/* CSS HEX */
--tea-green: #ccd5aeff;
--beige: #e9edc9ff;
--cornsilk: #fefae0ff;
--papaya-whip: #faedcdff;
--buff: #d4a373ff;

/* SCSS Gradient */
--gradient-top: linear-gradient(0deg, #ccd5aeff, #e9edc9ff, #fefae0ff, #faedcdff, #d4a373ff);
--gradient-right: linear-gradient(90deg, #ccd5aeff, #e9edc9ff, #fefae0ff, #faedcdff, #d4a373ff);
--gradient-bottom: linear-gradient(180deg, #ccd5aeff, #e9edc9ff, #fefae0ff, #faedcdff, #d4a373ff);
--gradient-left: linear-gradient(270deg, #ccd5aeff, #e9edc9ff, #fefae0ff, #faedcdff, #d4a373ff);
--gradient-top-right: linear-gradient(45deg, #ccd5aeff, #e9edc9ff, #fefae0ff, #faedcdff, #d4a373ff);
--gradient-bottom-right: linear-gradient(135deg, #ccd5aeff, #e9edc9ff, #fefae0ff, #faedcdff, #d4a373ff);
--gradient-top-left: linear-gradient(225deg, #ccd5aeff, #e9edc9ff, #fefae0ff, #faedcdff, #d4a373ff);
--gradient-bottom-left: linear-gradient(315deg, #ccd5aeff, #e9edc9ff, #fefae0ff, #faedcdff, #d4a373ff);
--gradient-radial: radial-gradient(#ccd5aeff, #e9edc9ff, #fefae0ff, #faedcdff, #d4a373ff);
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    margin: 0;
    background-image: var(--gradient-radial);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
}

    h1 {
        text-align: center;
        width: fit-content;
        font-size: 3rem;
        background-color: var(--tea-green);
        color: var(--cornsilk);
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        padding: 10px;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        margin-bottom: 0;
    }

    #game-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: fit-content;
        padding: 10px;
        border: 10px solid var(--tea-green);
        border-radius: 8px;
        background-color: var(--buff);
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    }
        #dice-container,
        #scorecard-container {
            display: flex;
            flex-direction: column;
            background: var(--cornsilk);
            padding: 20px;
            margin: 5px;
            border-radius: 8px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
            align-items: center;
        }
        #dice-container {
            max-width: 30vw;
            min-width: 350px;
        }

        .scorecard-columns {
            width: 30rem;
            display: flex;
            margin-bottom: 0;
        }
            table {
                width: fit-content;
                border-collapse: collapse;
            }
            th, td {
                padding: 5px;
            }
            tr:nth-child(even) {
                background-color: var(--papaya-whip);
            }
            tr:hover {
                background-color: var(--tea-green);
                cursor: pointer;
            }
            #total-score-container {
                margin-top: 10px;
                border-top: 2px solid black;
                width: 50%;
            }
            .score-value {
                font-weight: 600;
                font-size: 1.25rem;
                width: 30px;
                text-align: right;
                padding-right: 10px;
                border-right: 1px solid black;
                border-left: 1px solid black;
            }
            .score-name {
                width: 10em;
            }

.die {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 3px solid black;
    margin: 0 5px;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
    border-radius: 5px;
    background-color: var(--papaya-whip);
}
.held {
    background-color: firebrick;
    color: var(--papaya-whip)
}
@media (hover: hover) {
    .die-with-value:hover {
        cursor: pointer;
        background-color: firebrick;
    }   
}
#instruction-score {
    font-size: .7rem;
}


@media (max-width: 1028px) {
    #game-container {
        flex-direction: column;
    }

    #dice-container {
        max-width: 90vw;
    }

    #scorecard-container {
        margin-top: 20px;
    }

    .scorecard-columns {
        width: 100%;
    }

    .upper-section,
    .lower-section {
        width: 100%;
    }
}

@media (max-width: 390px) {
    body {
        padding: 0;
    }   
    #game-container {
        width: 100%;
        margin: 0;
    }
    .die {
        margin: 4px;
    }
}

@media (max-width: 344px) {
    .die {
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 20px;
    }
}

.scored {
    color: firebrick;
}
.scored:hover {
    background-color: var(--cornsilk);
    cursor: not-allowed;
}
.scored:nth-child(even):hover {
    background-color: var(--papaya-whip);
}

button {
    background-color: var(--tea-green);
    color: var(--cornsilk);
    border: none;
    padding: 2px 40px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 800;
    font-size: 1.5rem;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    border-style: outset;
}

button:hover {
    background-color: var(--papaya-whip);
    color: var(--tea-green);
    border-style: inset;
}




.hidden {
    display: none;
}
